<p id="notice"><%= notice %></p>

<h1>Medical Cards</h1>

<table>
  <thead>
    <tr>
      <th>Pet</th>
      <th>Symptoms</th>
      <th>Treatment</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @medical_cards.each do |medical_card| %>
      <tr>
        <td><%= medical_card.pet.name %></td>
        <td><%= medical_card.symptoms %></td>
        <td><%= medical_card.treatment %></td>
        <td>
          <%=link_to 'Destroy', medical_card_path(medical_card), method: :delete , data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical Card', new_medical_card_path(params[:id]) %>
